.header-bg{
background: #000;
margin: 0;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header-container{
margin-left: 80px;
}
.header-menu{
  display: flex;
  gap: 20px;
}
.header-menu a{color: white;
padding: 20px;}