body{
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #111111;
}

ul, li{
  list-style: none;
  margin: 0px;
}
h1, ul, p{
  margin: 0px;
}
h1, h2, h3, h4, h5, blockquote, dd, dl{
  margin: 0;
  
}
a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
}
img[src$=".jpg"]{
  border-radius: 4px;
}

